# Actually ignored
# dotenv environment variable files

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Build output
dist/

# Config files
spotify-tokens.json
config.json
ssl/

# Random just in case

*.tsbuildinfo
.npm
.eslintcache
*.tgz

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
